<!DOCTYPE html>
<html lang="zxx">


<!-- index  22 Nov 2019 04:12:25 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('css/flaticon.css') }}">
    <link rel="stylesheet" href="{{ asset('css/lightcase.css') }}">
    <link rel="stylesheet" href="{{ asset('css/odometer.css') }}">
    <link rel="stylesheet" href="{{ asset('css/swiper.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    {% endblock %}

    <link rel="shortcut icon" href="{{ asset('images/dauphinfavi.png') }}" type="image/x-icon">

    <title>Dauphins de NGOR</title>


</head>

<body>
    <!-- ==========Preloader========== -->
    <div class="preloader">
        <div class="preloader-wrapper">
            <img src="{{ asset('css/ajax-loader.gif') }}" alt="ajax-loader">
        </div>
    </div>
    <!-- ==========Preloader========== -->

    <!-- ==========scrolltotop========== -->
    <a href="#0" class="scrollToTop" title="ScrollToTop">
        <img src="{{ asset('images/rocket.png') }}" alt="rocket">
    </a>
    <!-- ==========scrolltotop========== -->

    <!-- ==========header-section========== -->
    <header class="header-section">
        <div class="header-top d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-9">
                        <ul class="header-top-info">
                            <li>
                                <div class="left">
                                    <i class="flaticon-phone-call"></i>
                                </div>
                                <div class="right">
                                    <span class="d-block">Appelez - Nous</span>
                                    <a href="Tel:9393993">+221 771267575</a>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <i class="flaticon-placeholder"></i>
                                </div>
                                <div class="right">
                                    <span class="d-block">Addresse</span>
                                    <a href="#0">Plage de NGOR</a>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <i class="flaticon-clock"></i>
                                </div>
                                <div class="right">
                                    <span class="d-block">Heures de travail</span>
                                    <a href="#0">7:00am - 11:30 am ( Vendredi Ferme )</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        {# <ul class="d-flex justify-content-end account">
                            <li>
                                <a href="sign-in">Login</a>
                            </li>
                            <li>
                                <a href="sign-up">Register</a>
                            </li>
                        </ul> #}
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="header-wrapper">
                    <div class="logo">
                        <a href="#0">
                            {# <img src="images/logo/logo.png" alt="logo"> #}
                             <img src="{{ asset('images/dauphin1.png') }}" alt="logo" width="100px" height="100px">
                        </a>
                    </div>
                    <ul class="menu ml-auto">
                        <li>
                            {# <a href="{{ path('app_home') }}">Accueil</a> #}
                            {# <ul class="submenu">
                                <li>
                                    <a href="index">Home One</a>
                                </li>
                                <li>
                                    <a href="index-two">Home Two</a>
                                </li>
                            </ul> #}
                        </li>
                        {# <li>
                            <a href="about">About</a>
                        </li> #}
                        <li>
                            {# <a href="#0">Cours</a> #}
                            {# <ul class="submenu">
                                <li>
                                    <a href="course">Course</a>
                                </li>
                                <li>
                                    <a href="course-details">Course Details</a>
                                </li>
                                <li>
                                    <a href="classes-schedule">Class Schedule</a>
                                </li>
                            </ul> #}
                        </li>
                        <li>
                            {# <a href="#0">Boutique</a> #}
                            {# <ul class="submenu">
                                <li>
                                    <a href="shop">Shop</a>
                                </li>
                                <li>
                                    <a href="offer">Offer</a>
                                </li>
                                <li>
                                    <a href="cart">Cart</a>
                                </li>
                                <li>
                                    <a href="checkout">Checkout</a>
                                </li>
                            </ul> #}
                        </li>
                        {# <li>
                            <a href="#0">Pages</a>
                            <ul class="submenu">
                                <li>
                                    <a href="#0">Instructors</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="instructors">Instructors</a>
                                        </li>
                                        <li>
                                            <a href="instructor-profile">Instructors Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="gallery">Gallery</a>
                                </li>
                                <li>
                                    <a href="#0">Event</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="event">Event</a>
                                        </li>
                                        <li>
                                            <a href="event-details">Event Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="admission">admission</a>
                                </li>
                                <li>
                                    <a href="wish-list">our wish list</a>
                                </li>
                                <li>
                                    <a href="privacy">privacy</a>
                                </li>
                                <li>
                                    <a href="faq">faq</a>
                                </li>
                                <li>
                                    <a href="404">404</a>
                                </li>
                            </ul>
                        </li> #}
                        {# <li>
                            <a href="#0">Blog</a>
                            <ul class="submenu">
                                <li>
                                    <a href="blog-grid">blog grid</a>
                                </li>
                                <li>
                                    <a href="blog-classic">blog classic</a>
                                </li>
                                <li>
                                    <a href="blog-details">blog details</a>
                                </li>
                            </ul>
                        </li> #}
                        {# <li>
                            <a href="#0">Account</a>
                            <ul class="submenu">
                                <li>
                                    <a href="sign-in">sign in</a>
                                </li>
                                <li>
                                    <a href="sign-up">sign up</a>
                                </li>
                            </ul>
                        </li> #}
                        <li>
                            <a href="{{ path('app_hello') }}">Accueil</a>

                        </li>
                        <li>
                            <a href="{{ path('galerie') }}">Galerie</a>

                        </li>
                        <li>
                            <a href="{{ path('actu') }}">Actualites</a>

                        </li>
                         {# <li>
                            <a href="{{ path('article_index') }}">Articles</a>

                        </li> #}
                        
                    </ul>
                    <div class="header-bar d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    {# <ul class="search-area">
                        <li>
                            <a class="search-bar" href="#0">
                                <i class="flaticon-magnifying-glass"></i>
                            </a>
                        </li>
                        <li>
                            <a id="cart-button" href="#0">
                                <i class="flaticon-shopping-cart"></i>
                            </a>
                        </li>
                    </ul> #}
                </div>
            </div>
        </div>
    </header>
    {# <div class="search-form-area">
        <span class="hide-form">
            <i class="fas fa-times"></i>
        </span>
        <form class="search-form">
            <input type="text" placeholder="Search Here">
            <button type="submit"><i class="flaticon-search"></i></button>
        </form>
    </div> #}
    <!-- ===========Header Cart=========== -->
    <div id="body-overlay" class="body-overlay"></div>
    <div class="cart-sidebar-area" id="cart-sidebar-area">
        <div class="top-content">
            <a href="#" class="logo">
                <img src="{{ asset('images/dauphin1.png') }}" alt="logo">
            </a>
            <span class="side-sidebar-close-btn"><i class="fas fa-times"></i></span>
        </div>
        {# <div class="bottom-content">
            <div class="cart-products">
                <h4 class="title">Shopping cart</h4>
                <div class="single-product-item">
                    <div class="thumb">
                        <img src="{{ asset('images/shop/shop01.png') }}" alt="shop">
                    </div>
                    <div class="content">
                        <h4 class="title">Swimming Shoes</h4>
                        <div class="price"><span class="pprice">$80.00</span> <del class="dprice">$120.00</del></div>
                        <a href="#" class="remove-cart">Remove</a>
                    </div>
                </div>
                <div class="single-product-item">
                    <div class="thumb">
                        <img src="images/shop/shop02.png" alt="shop">
                    </div>
                    <div class="content">
                        <h4 class="title">Water Glass</h4>
                        <div class="price"><span class="pprice">$80.00</span> <del class="dprice">$120.00</del></div>
                        <a href="#" class="remove-cart">Remove</a>
                    </div>
                </div>
                <div class="single-product-item">
                    <div class="thumb">
                        <img src="images/shop/shop03.png" alt="shop">
                    </div>
                    <div class="content">
                        <h4 class="title">Support Suit</h4>
                        <div class="price"><span class="pprice">$80.00</span> <del class="dprice">$120.00</del></div>
                        <a href="#" class="remove-cart">Remove</a>
                    </div>
                </div>
                <div class="single-product-item">
                    <div class="thumb">
                        <img src="images/shop/shop06.png" alt="shop">
                    </div>
                    <div class="content">
                        <h4 class="title">Stop Watch</h4>
                        <div class="price"><span class="pprice">$80.00</span> <del class="dprice">$120.00</del></div>
                        <a href="#" class="remove-cart">Remove</a>
                    </div>
                </div>
                <div class="single-product-item">
                    <div class="thumb">
                        <img src="images/shop/shop05.png" alt="shop">
                    </div>
                    <div class="content">
                        <h4 class="title">Support Ring</h4>
                        <div class="price"><span class="pprice">$80.00</span> <del class="dprice">$120.00</del></div>
                        <a href="#" class="remove-cart">Remove</a>
                    </div>
                </div>
                <div class="btn-wrapper text-center">
                    <a href="checkout" class="custom-button active">Checkout</a>
                </div>
            </div>
        </div> #}
    </div>
    <!-- ===========Header Cart=========== -->
    <!-- ==========header-section========== -->

    {% block body %}{% endblock %}

    <!-- ==========footer-section========== -->
    <footer>
        <div class="footer-top padding-top padding-bottom theme-overlay bg_img" data-background="images/footer.jpg">
            <div class="container">
                <div class="row mb-40-none">
                    <div class="col-md-4 col-sm-8">
                        <div class="footer-widget footer-about">
                            <div class="footer-logo">
                                <a href="index">
                                    <img src="{{ asset('images/dauphin1.png') }}" alt="logo" width="100px" height="100px">
                                </a>
                            </div>
                            <p></p>
                            <ul>
                                <li>
                                    <a href="">
                                        <!-- <i class="fas fa-phone"></i> -->
                                        <i class="flaticon-telephone-handle-silhouette"></i>
                                        +221 771267575
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <i class="flaticon-maps-and-flags"></i>
                                        <!-- <i class="fas fa-map-marker-alt"></i>  -->
                                        Plage de NGOR
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {# <div class="col-md-3 col-sm-4">
                        <div class="footer-widget link-widget pl-lg-4">
                            <h4 class="title">Our Branches</h4>
                            <ul>
                                <li>
                                    <a href="#0">Alberta</a>
                                </li>
                                <li>
                                    <a href="#0">Columbia</a>
                                </li>
                                <li>
                                    <a href="#0">Manitoba</a>
                                </li>
                                <li>
                                    <a href="#0">Nunavut</a>
                                </li>
                                <li>
                                    <a href="#0">Yukon</a>
                                </li>
                                <li>
                                    <a href="#0">Onturio</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="footer-widget footer-schedule">
                            <h4 class="title">Opening Hours</h4>
                            <ul>
                                <li>
                                    <a href="#0">
                                        <span>Sat-Tues</span>
                                        <span>08:00am-01:00pm</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <span>Wed-Thurs</span>
                                        <span>12:00am-03:00pm</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <span>Friday</span>
                                        <span>07:00am-09:00pm</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <span>Sunday</span>
                                        <span>08:00am-01:00pm</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="text-right calendar">
                                <a href="#0">Go to Calendar</a>
                            </div>
                        </div>
                    </div> #}
                </div>
            </div>
        </div>
        <div class="footer-bottom py-4 bg-theme text-center">
            <div class="container">
                <p class="m-0"><a href="">IT SOLUTION</a></p>
            </div>
        </div>
    </footer>
    <!-- ==========footer-section========== -->

    {% block javascripts %}
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('js/modernizr-3.6.0.min.js') }}"></script>
    <script src="{{ asset('js/plugins.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('js/jquery.ripples-min.js') }}"></script>
    <script src="{{ asset('js/lightcase.js') }}"></script>
    <script src="{{ asset('js/swiper.min.js') }}"></script>
    <script src="{{ asset('js/wow.min.js') }}"></script>
    <script src="{{ asset('js/countdown.min.js') }}"></script>
    <script src="{{ asset('js/odometer.min.js') }}"></script>
    <script src="{{ asset('js/viewport.jquery.js') }}"></script>
    <script src="{{ asset('js/nice-select.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
     {% endblock %}
</body>


<!-- index  22 Nov 2019 04:16:40 GMT -->
</html>
