 {% extends 'base.html.twig' %}

{% block title %}Hello Actualites {% endblock %}

{% block body %}


<section class="hero-section">
        <div class="hero-area bg_img" data-background="images/aqua15.jpg">
            <div class="container">
                <h1 class="title">Actualites</h1>
            </div>
        </div>
        <div class="container">
            {# <ul class="breadcrumb">
                <li>
                    <a href="index.html">home</a>
                </li>
                <li>
                    blog
                </li>
            </ul> #}
        </div>
    </section>
    <!-- ==========Blog-section========== -->
    <div class="blog-section padding-bottom padding-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <article>
                        
                        {% for article in articles %}
                        <div class="post-item post-regular post-classic video-post">
                            <div class="post-thumb">
                                {# <a href="">
                                    <img src="assets/images/blog/blog18.jpg" alt="blog">
                                </a> #}
                                <iframe width="560" height="315"
                                        src="https://www.youtube.com/embed/{{ article.youtubeUrl | split('?v=')[1] ?? article.youtubeUrl | split('/') | last }}"
                                        title="Vidéo YouTube" frameborder="0"
                                        allowfullscreen>
                                    </iframe>
                                <div class="blog-video-icon-wrapper">
                                    {#  #}
                                    <a href="https://www.youtube.com/embed/{{ article.youtubeUrl | split('?v=')[1] ?? article.youtubeUrl | split('/') | last }}"
                                        data-rel="lightcase:myCollection"><img src="{{ asset('images/blog/video-button.png') }}" alt="button"></a>
                                </div>
                            </div>
                            <div class="post-content">
                                {# <div class="post-header">
                                    <h4 class="title"><a href="">{{ article.title}}
                                        </a>
                                    </h4>
                                </div> #}
                                <div class="entry-content">
                                    {# <p>{{ article.content}}</p> #}
                                    <div class="meta-post">
                                        {# <div class="meta-thumb">
                                            <a href="#0">
                                                <img src="assets/images/blog/blog01.png" alt="blog">
                                            </a>
                                        </div> #}
                                        <div class="meta-content">
                                            <a href="#0">{{ article.publishedAt|date('d M Y') }}</a>
                                            {# <a href="#0">00 Comments</a> #}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                            <li>Aucun article trouvé.</li>
                        {% endfor %}
                    </article>
                    {# <ul class="blog-pagination">
                        <li>
                            <a href=""><i class="fas fa-angle-left"></i></a>
                        </li>
                        <li>
                            <a class="active" href="">03</a>
                        </li>
                        <li>
                            <a href="">04</a>
                        </li>
                        <li>
                            <a href=""><i class="fas fa-angle-right"></i></a>
                        </li>
                    </ul> #}
                </div>
                <div class="col-lg-4">
                    <aside class="sidebar bg-f9">
                        {# <div class="widget widget-category">
                            <div class="widget-header">
                                <h4 class="title">Categories</h4>
                                <span class="widget-shape"></span>
                            </div>
                            <ul>
                                <li>
                                    <a href="#0">Juniors</a>
                                </li>
                                <li>
                                    <a href="#0">Swimming</a>
                                </li>
                                <li>
                                    <a href="#0">Senior Instructors</a>
                                </li>
                                <li>
                                    <a href="#0">Admission</a>
                                </li>
                                <li>
                                    <a href="#0">Kids</a>
                                </li>
                                <li>
                                    <a href="#0">family Swimming</a>
                                </li>
                            </ul>
                        </div> #}
                        {# <div class="widget widget-post">
                            <div class="widget-header">
                                <h4 class="title">recent post</h4>
                                <span class="widget-shape"></span>
                            </div>
                            <ul>
                                <li class="widget-post-item">
                                    <div class="widget-post-thumb">
                                        <a href="#0"><img src="{{ asset('assets/images/blog/blog20.jpg') }}" alt="blog"></a>
                                    </div>
                                    <div class="widget-post-content">
                                        <h6 class="sub-title">
                                            <a href="#0">Bibendum ut, at viverra
                                                eu nunc facilisis</a>
                                        </h6>
                                        <span>12 Feb, 2019</span>
                                    </div>
                                </li>
                                <li class="widget-post-item">
                                    <div class="widget-post-thumb">
                                        <a href="#0"><img src="assets/images/blog/blog21.jpg" alt="blog"></a>
                                    </div>
                                    <div class="widget-post-content">
                                        <h6 class="sub-title">
                                            <a href="#0">Consectetuer in non nibh
                                                lorem posuere</a>
                                        </h6>
                                        <span>12 Feb, 2019</span>
                                    </div>
                                </li>
                                <li class="widget-post-item">
                                    <div class="widget-post-thumb">
                                        <a href="#0"><img src="assets/images/blog/blog22.jpg" alt="blog"></a>
                                    </div>
                                    <div class="widget-post-content">
                                        <h6 class="sub-title">
                                            <a href="#0">Uspendisse purus amet
                                                vivamus vivamus</a>
                                        </h6>
                                        <span>12 Feb, 2019</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="widget widget-tags">
                            <div class="widget-header">
                                <h4 class="title">tags cloud</h4>
                                <span class="widget-shape"></span>
                            </div>
                            <ul>
                                <li>
                                    <a href="#0">Courses</a>
                                </li>
                                <li>
                                    <a href="#0">blog</a>
                                </li>
                                <li>
                                    <a href="#0">instructor</a>
                                </li>
                                <li>
                                    <a href="#0">swimming</a>
                                </li>
                                <li>
                                    <a href="#0">kids swim</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget widget-archive">
                            <div class="widget-header">
                                <h4 class="title">archives</h4>
                                <span class="widget-shape"></span>
                            </div>
                            <ul>
                                <li>
                                    <a href="#0">January 1996</a>
                                </li>
                                <li>
                                    <a href="#0">February 1999</a>
                                </li>
                                <li>
                                    <a href="#0">March 2012</a>
                                </li>
                                <li>
                                    <a href="#0">Jun 2018</a>
                                </li>
                                <li>
                                    <a href="#0">May 2018</a>
                                </li>
                                <li>
                                    <a href="#0">January 2019</a>
                                </li>
                            </ul>
                        </div> #}
                        <div class="widget widget-banner">
                            <div class="widget-banner-content">
                                <h4 class="title">Vous avez une question ?</h4>
                                <h6>hello</h6>
                                <a href="Tel:943894848493">(+221) 771267575</a>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- ==========Blog-section========== -->

{% endblock %}
