{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<!-- ==========banner-section========== -->
    {# <section class="banner-section bg_img" data-background="images/banner/banner-bg02.jpg"> #}
        <section class="banner-section bg_img" data-background="images/aqua15.jpg">
        <div class="container">
            <div class="banner-content mx-auto text-center">
                <span class="cate wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s">Cours de natation pour adultes et enfants</span>
                <h1 class="title wow fadeInDown" data-wow-duration="1.5s">Où les familles apprennent à nager ?</h1>
                {# <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">Empor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco</p> #}
                {# <div class="button-group justify-content-center wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s">
                    <a href="contact" class="custom-button">Contact Us</a>
                    <a href="admission" class="custom-button active">admission now</a>
                </div> #}
            </div>
        </div>
    </section>
    <!-- ==========banner-section========== -->

    <!-- ==========about-us-section========== -->
    <section class="wellcome-section padding-bottom padding-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="welcome-thumb">
                        <div class="thumb1">
                            <img src="images/aqua13.jpg" alt="about">
                        </div>
                        <div class="thumb2">
                            <img src="images/aqua3.jpg" alt="about">
                        </div>
                        <div class="thumb3">
                            <img src="images/aqua8.jpg" alt="about">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-header left-style mb-low mw-100 mt-down">
                        <h2 class="title">Ecole les dauphins</h2>
                        <span class="d-inline-block mx-auto shape-header"></span>
                        <p>Cette ecole à but non  lucratif est supervisée par des professionnels de la securité dont l'ambition est d'apporter à chacun le meilleur de leur savoir etre et de leur  savoir faire. cette ecole offre une possibilité de reussite sans distinction de sexe ni d'origine.</p>
                    </div>
                    <div class="wellcome-area">
                        <div class="wellcome-item">
                            <span class="left-side">
                                <i class="flaticon-swimming-silhouette"></i>
                            </span>
                            <div class="right-side">
                                <h4 class="title">Qui sommes nous</h4>
                                <p>Les dauphins est une école de formation crée en 2013 par Monsieur Ndiamé Sambe dans un souhait ultime de pérenniser sa carrière de formateur et d'éducateur au bénéfice des êtres et de l'environnement.</p>
                            </div>
                        </div>
                        <div class="wellcome-item">
                            <span class="left-side">
                                <i class="flaticon-goggles"></i>
                            </span>
                            <div class="right-side">
                                <h4 class="title">Notre programme</h4>
                                <p>L’aquagym, la fitness, 
                                    La prise en charge des malades par des spécialistes, la rééducation des personnes ayant des problèmes de mobilité
                                    La formation des maîtres nageurs 
                                    Surveillance dans les piscines , la mer ou les camps de vacances 
                                    La natation sur place ou à domicile.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========about-us-section========== -->

    <!-- ==========about-us-section========== -->
    <section class="about-us-section padding-bottom">
        <div class="container">
            <div class="row flex-wrap-reverse">
                <div class="col-lg-6">
                    <div class="section-header left-style mb-low mw-100 mt-down">
                        <h2 class="title">À propos du club de natation</h2>
                        <span class="d-inline-block mx-auto shape-header"></span>
                        <p></p>
                    </div>
                    <div class="about-us-area">
                        {# <div class="about-us-item">
                            <h4 class="title">Notre Histoire</h4>
                            <p>Lorem ipsum dolor sit ampendisse illum elit nunc suspendisse dolor, sed nulla nec, tempor amet ac venenatis praesent libero. Ante ea justo aptent</p>
                        </div>
                        <div class="about-us-item">
                            <h4 class="title">Notre Mission</h4>
                            <p>Lorem ipsum dolor sit ampendisse illum elit nunc suspendisse dolor, sed nulla nec, tempor amet ac venenatis praesent libero. Ante ea justo aptent</p>
                        </div> #}
                        <div class="about-us-item">
                            <h4 class="title">Comment s'inscrire</h4>
                            <p>Pour adhérer au club aquagym c’est a 10 000f et la mensualité 10 000f 
                                <br>Pour la natation 
                                Enfants 30 000f les 3 mois
                                Adultes 15 séances 30000f entre 7h 11h30 
                                <br>Autres séances 3 000f l’heure 
                                </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-us-thumb">
                        <div class="thumb1 wow slideInUp">
                            <img src="images/aqua2.jpg" alt="about">
                        </div>
                        <div class="thumb2 wow bounceInRight" data-wow-delay=".5s">
                            <img src="images/aqua9.jpg" alt="about">
                        </div>
                        <div class="thumb3 wow zoomIn" data-wow-delay=".5s">
                            <img src="images/aqua10.jpg" alt="about">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========about-us-section========== -->

    <!-- ==========overview-two-section========== -->
    <section class="overview-two-section">
        <div class="container-fluid p-0">
            <div class="row m-0">
                <div class="col-lg-6 padding-top padding-bottom pb-lg-0 mb--30-max-sm px-0 bg_img"
                    data-background="images/aqua21.jpg">
                    <div class="overview-counter-section h-100">
                        <div class="overview-counter-wrapper h-100">
                            <div class="counter-item">
                                <div class="odometer" data-odometer-final="16"></div>
                                <h3 class="sub-title">Instructeur</h3>
                            </div>
                            {# <div class="counter-item">
                                <div class="odometer plus" data-odometer-final="30">60 <span>+</span></div>
                                <h3 class="sub-title">Swimming Pool</h3>
                            </div> #}
                            <div class="counter-item">
                                <div class="odometer" data-odometer-final="1100"></div>
                                <h3 class="sub-title">Nombre Clients</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 px-0">
                    <div class="overview-two-content theme-overlay-deep w-100 h-100 padding-top padding-bottom bg_img" data-background="images/overview/overview-bg02.jpg">
                        <div class="content">
                            <div class="section-header mb-low light left-style">
                                <h2 class="title">Pourquoi nous choisir ?</h2>
                                <span class="d-inline-block mx-auto shape-header"></span>
                            </div>
                            <div class="choose-area light-color">
                                <div class="choose-item">
                                    <h4 class="title">9 ans d'experience</h4>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                </div>
                                <div class="choose-item">
                                    <h4 class="title">1,100 nageurs</h4>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                </div>
                                <div class="choose-item">
                                    <h4 class="title">4 Entraîneurs médaillés d'or</h4>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========overview-two-section========== -->

    <!-- ==========course-section========== -->
    <section class="course-section padding-top padding-bottom">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-md-7">
                    <div class="section-header left-style">
                        <h2 class="title">nos cours populaires</h2>
                    <span class="d-inline-block mx-auto shape-header"></span>
                        <p></p>
                    </div>
                </div>
                {# <div class="col-md-5 text-md-right discover-button">
                    <a href="" class="custom-button">discover more</a>
                </div> #}
            </div>
            <div class="row justify-content-center mb-30-none">
                <div class="col-md-6 col-sm-10 col-lg-4">
                    <div class="course-item">
                        <div class="c-thumb course-thumb">
                            <a href="">
                                <img src="images/aqua251.jpg" alt="course">
                            </a>
                            <div class="price-tag">
                                <h3 class="price"></h3>
                                <span class="time"></span>
                            </div>
                        </div>
                        <div class="course-content">
                            {# <h4 class="title"><a href="">Enfants<span>12-36 Month</span></a></h4> #}
                            <h4 class="title"><a href="">Aquagym<span></span></a></h4>
                            <p></p>
                            {# <a href="course-details">Read More</a> #}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-10 col-lg-4">
                    <div class="course-item">
                        <div class="c-thumb course-thumb">
                            <a href="">
                                <img src="images/aqua23.jpg" alt="course">
                            </a>
                            <div class="price-tag">
                                <h3 class="price"></h3>
                                <span class="time"></span>
                            </div>
                        </div>
                        <div class="course-content">
                            <h4 class="title"><a href="">Re-education<span></span></a></h4>
                            <p></p>
                            {# <a href="course-details">Read More</a> #}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-10 col-lg-4">
                    <div class="course-item">
                        <div class="c-thumb course-thumb">
                            <a href="">
                                <img src="images/aqua24.png" alt="course">
                            </a>
                            <div class="price-tag">
                                <h3 class="price"></h3>
                                <span class="time"></span>
                            </div>
                        </div>
                        <div class="course-content">
                            <h4 class="title"><a href="">Natation<span></span></a></h4>
                            <p></p>
                            {# <a href="course-details">Read More</a> #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========course-section========== -->

    <!-- ==========overview-section========== -->
    <section class="overview-section">
        <div class="container-fluid p-0">
            <div class="row m-0">
                <div class="col-lg-6 p-0">
                    <div class="w-100 h-100 overview-video theme-overlay bg_img" data-background="images/aqua22.jpg">
                        <a href="https://www.youtube.com/embed/VoJTGMcY2Ds" class="video"
                            data-rel="lightcase:myCollection">
                            <i class="flaticon-play-button"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="w-100 h-100 overview-event bg-ash padding-bottom padding-top">
                        <div class="content">
                            <div class="section-header left-style mw-100">
                                <h2 class="title">Evènements à venir</h2>
                                <span class="d-inline-block mx-auto shape-header"></span>
                                <p>Retrouver tous les evenements a venir </p>
                            </div>
                            {# <div class="faq-wrapper">
                                {% for evenement in evenements |slice(0,4)%}
                                <div class="faq-item">
                                    <div class="faq-title">
                                        <h4 class="title">{{ evenement.titre }}</h4>
                                    </div>
                                    <div class="faq-content">
                                        <span class="schedule">{{ evenement.dateEvenement ? evenement.dateEvenement|date('Y-m-d') : '' }}</span>
                                        <p>{{ evenement.description }}</p>
                                    </div>
                                </div>
                                {% else %}
                                    pas d'evenements a venir
                                {% endfor %} #}
                                {# <div class="faq-item">
                                    <div class="faq-title">
                                        <h4 class="title">Create Great Swimmers</h4>
                                    </div>
                                    <div class="faq-content">
                                        <span class="schedule">05 May,2019 - Current , Kids School</span>
                                        <p>Maecenas finibus nec sem ut imperdiet. Ut tincidunt est ac dolor aliquam sodales. Phasellus sed mauris hendrerit, laoreet sem lrtis ante.sodales ultricies diam. Nullam justo leo</p>
                                    </div>
                                </div> #}
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========overview-section========== -->

    <!-- ==========instructor-section========== -->
    <section class="instructor-section padding-bottom padding-top">
        <div class="container">
            <div class="section-header">
                <h2 class="title">Nos meilleurs instructeur</h2>
                <span class="d-inline-block mx-auto shape-header"></span>
                <p></p>
            </div>
            <div class="row mb-30-none justify-content-center">
                <div class="col-md-6 col-lg-4 col-sm-10">
                    <div class="instructor-item">
                        <div class="c-thumb">
                            <a href="">
                                <img src="images/coach21.jpg" alt="instructor">
                            </a>
                        </div>
                        <div class="instructor-content">
                            <h4 class="sub-title">
                                <a href="">Coach Ndiambe SAMB</a>
                            </h4>
                            <span class="d-block">Senior Instructeur</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-sm-10">
                    <div class="instructor-item">
                        <div class="c-thumb">
                            <a href="">
                                <img src="images/coach4.jpeg" alt="instructor">
                            </a>
                        </div>
                        <div class="instructor-content">
                            <h4 class="sub-title">
                                <a href="">Coach Alassane SAMB</a>
                            </h4>
                            <span class="d-block">Senior Instructeur</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-sm-10">
                    <div class="instructor-item">
                        <div class="c-thumb">
                            <a href="">
                                <img src="images/max.png" alt="instructor">
                            </a>
                        </div>
                        <div class="instructor-content">
                            <h4 class="sub-title">
                                <a href="">Maguette dit Max</a>
                            </h4>
                            <span class="d-block">Senior Instructeur</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========instructor-section========== -->

    <!-- ==========course-schedule-section========== -->
    <section class="course-schedule padding-bottom">
        <div class="container">
            <div class="section-header">
                <h2 class="title">Horaire des cours</h2>
                <span class="d-inline-block mx-auto shape-header"></span>
                <p></p>
            </div>
            <div class="schedule-wrapper">
                <div class="schedule-header text-center">
                </div>
                <table class="schedule-table">
                    <thead class="t-header">
                        <tr>
                            <th>Cours</th>
                            {# <th>Course Duration</th> #}
                            <th>Horaires</th>
                            {# <th>Instructor</th> #}
                            {# <th>Note</th> #}
                        </tr>
                    </thead>
                    <tbody class="t-body">
                        <tr>
                            <td data-input="Course Name">Aquagym</td>
                            {# <td data-input="Course Duration">06 Mounth</td> #}
                            <td data-input="Course Time">
                                <span class="class-date">Tous les jours</span>
                                <span class="class-time">7.00 - 11.30 </span>
                            </td>
                            {# <td data-input="Instructor">
                                <div class="instructor">
                                    <div class="thumb">
                                        <a href="#0"><img src="images/instructor/instructor05.png"
                                                alt="schedule"></a>
                                    </div>
                                    <div class="content">
                                        <a href="#0">Jack Paul</a>
                                        <span>Instructor</span>
                                    </div>
                                </div>
                            </td> #}
                            {# <td data-input="Note">pellentesque odio qu amet ut amet morbi </td> #}
                        </tr>
                        <tr>
                            <td data-input="Course Name">Re-education</td>
                            {# <td data-input="Course Duration">06 Mounth</td> #}
                            <td data-input="Course Time">
                                <span class="class-date">Tous les jours</span>
                                <span class="class-time">7.00 - 11.30 </span>
                            </td>
                            {# <td data-input="Instructor">
                                <div class="instructor">
                                    <div class="thumb">
                                        <a href="#0"><img src="images/instructor/instructor02.png"
                                                alt="schedule"></a>
                                    </div>
                                    <div class="content">
                                        <a href="#0">David James</a>
                                        <span>Instructor</span>
                                    </div>
                                </div>
                            </td>
                            <td data-input="Note">pellentesque odio qu amet ut amet morbi </td> #}
                        </tr>
                        <tr>
                            <td data-input="Course Name">Aquagym prenatal et postnatal</td>
                            {# <td data-input="Course Duration">06 Mounth</td> #}
                            <td data-input="Course Time">
                                <span class="class-date">Tous les jours</span>
                                <span class="class-time">7.00 - 11.30 </span>
                            </td>
                            {# <td data-input="Instructor">
                                <div class="instructor">
                                    <div class="thumb">
                                        <a href="#0"><img src="images/instructor/instructor03.png"
                                                alt="schedule"></a>
                                    </div>
                                    <div class="content">
                                        <a href="#0">monica Wagse</a>
                                        <span>Instructor</span>
                                    </div>
                                </div>
                            </td>
                            <td data-input="Note">pellentesque odio qu amet ut amet morbi </td> #}
                        </tr>
                        <tr>
                            <td data-input="Course Name">Natation</td>
                            {# <td data-input="Course Duration">06 Mounth</td> #}
                            <td data-input="Course Time">
                                <span class="class-date">Tous les jours</span>
                                <span class="class-time">7.00 - 11.30 </span>
                            </td>
                            {# <td data-input="Instructor">
                                <div class="instructor">
                                    <div class="thumb">
                                        <a href="#0"><img src="images/instructor/instructor01.png"
                                                alt="schedule"></a>
                                    </div>
                                    <div class="content">
                                        <a href="#0">Natalli Moe</a>
                                        <span>Instructor</span>
                                    </div>
                                </div>
                            </td>
                            <td data-input="Note">pellentesque odio qu amet ut amet morbi </td> #}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- ==========course-schedule-section========== -->

     <!-- ==========blog-section========== -->
    {# <section class="blog-section padding-top padding-bottom bg-ash">
        <div class="container">
            <div class="section-header">
                <h2 class="title">blog post</h2>
                <span class="d-inline-block mx-auto shape-header"></span>
                <p></p>
            </div>
            <div class="mb-none-50-lg-60">
                {% for blog in blogs %}
                <div class="post-item">
                    <div class="post-thumb">
                        
                        {% for image in blog.images |slice(0,1)%}
							
						<img  src="{{ asset('/uploads/'~image.name) }}" alt="" height="170px">

						{% endfor %}
                    </div>
                    <div class="post-content">
                        <div class="post-header">
                            <h4 class="title">
                                <a href="">{{ blog.titre }}</a>
                            </h4>
                            <div class="meta-post">
                                <a href="#0">{{ blog.datecreation ? blog.datecreation|date('Y-m-d') : '' }}</a><a href="#0"></a>
                            </div>
                        </div>
                        <div class="entry-content">
                            <p>{{ blog.texte }}</p>
                            
                        </div>
                    </div>
                </div>
                {% else %}
           Pas de blog enregistre
        {% endfor %}
               
                
            </div>
        </div>
    </section> #}
    <!-- ==========blog-section========== -->

    <!-- ==========client-section========== -->
    <section class="client-section padding-bottom">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-md-7">
                    <div class="section-header left-style">
                        <h2 class="title">Ce que disent les clients ?</h2>
                        <span class="d-inline-block mx-auto shape-header"></span>
                        <p></p>
                    </div>
                </div>
                {# <div class="col-md-5 text-md-right discover-button">
                    <a href="#0" class="custom-button">discover more</a>
                </div> #}
            </div>
            <div class="row justify-content-center mb-30-none">
                <div class="col-md-6 col-lg-4 col-sm-10">
                    <div class="client-item">
                        <div class="client-thumb">
                            <div class="thumb">
                                <img src="images/cliente1.jpg" alt="client">
                            </div>
                        </div>
                        <div class="client-content">
                            <p>J’avais un problème de genou mais grâce à l’aquagym maintenant je suis guéri et en même temps cela me permet de faire du sport. J’ai rencontré beaucoup de gens vraiment accueillant.</p>
                            <h4 class="sub-title"><a href="#0">Mareme NIANG</a></h4>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-sm-10">
                    <div class="client-item">
                        <div class="client-thumb">
                            <div class="thumb">
                                <img src="images/client1.jpg" alt="client">
                            </div>
                        </div>
                        <div class="client-content">
                            <p>J’étais venu pour me soigner après j’ai pu guérir et devenir assistant malade dans le club. On est une  famille et je remercie le grand maitre Ndiame.                               </p>
                            <h4 class="sub-title"><a href="#0">Pape Samba</a></h4>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-sm-10">
                    <div class="client-item">
                        <div class="client-thumb">
                            <div class="thumb">
                                <img src="images/client/client03.jpg" alt="client">
                            </div>
                        </div>
                        <div class="client-content">
                            <p>Aut at vestibulum aliquam in, proinon donec nec nisl consectet metu neque turpis aliquet fermtum </p>
                            <h4 class="sub-title"><a href="#0">Fahad Bin</a></h4>
                            <span>Senior Instructeur</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========client-section========== -->

    <!-- ==========blog-section========== -->
    {# <section class="blog-section padding-top padding-bottom bg-ash">
        <div class="container">
            <div class="section-header">
                <h2 class="title">Article de blog récent</h2>
                <span class="d-inline-block mx-auto shape-header"></span>
                <p>Amet consectetur adipiscing elit, sed do eiutempor incididunt ut labore et dolore magna aliquaad minvenia quis nost</p>
            </div>
            <div class="mb-none-50-lg-60">
                <div class="post-item">
                    <div class="post-thumb">
                        <a href="blog-grid">
                            <img src="images/blog/blog01.jpg" alt="blog">
                        </a>
                    </div>
                    <div class="post-content">
                        <div class="post-header">
                            <h4 class="title">
                                <a href="blog-grid">Non repellat lectus luctus rhoncus lectb eatae lorem enim vestibulum ridiculus neque. </a>
                            </h4>
                            <div class="meta-post">
                                <a href="#0">20 Nov, 2019</a><a href="#0">03 Comments</a>
                            </div>
                        </div>
                        <div class="entry-content">
                            <p>Pharetra aenean facilisis arcu aliquam, id diam mauris vivamus id vitae et. Eros mauris quis
                            leo. Vitae leo phasellus donec, integer rutrum aliquam elit, non etiam turpis nullam lectus
                            urna urna, ullamcorper sit, accuman maecenneque vel aliquam aliquam tincidunt. Congue et
                            etiam nastur, nulla odio, morbi eros lectus, vestibulum ut libero</p>
                            <div class="meta-author">
                                <div class="c-thumb">
                                    <a href="#0">
                                        <img src="images/blog/blog01.png" alt="blog">
                                    </a>
                                </div>
                                <div class="c-content">
                                    <a href="#0">Raihan Rafuj</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-item">
                    <div class="post-thumb">
                        <a href="blog-grid">
                            <img src="images/blog/blog02.jpg" alt="blog">
                        </a>
                    </div>
                    <div class="post-content">
                        <div class="post-header">
                            <h4 class="title">
                                <a href="blog-grid">Ollamcorper luctus ullamcorper semper nec erat nulla amet ringillavsed </a>
                            </h4>
                            <div class="meta-post">
                                <a href="#0">20 Nov, 2019</a><a href="#0">03 Comments</a>
                            </div>
                        </div>
                        <div class="entry-content">
                            <p>Pharetra aenean facilisis arcu aliquam, id diam mauris vivamus id vitae et. Eros mauris quis
                            leo. Vitae leo phasellus donec, integer rutrum aliquam elit, non etiam turpis nullam lectus
                            urna urna, ullamcorper sit, accuman maecenneque vel aliquam aliquam tincidunt. Congue et
                            etiam nastur, nulla odio, morbi eros lectus, vestibulum ut libero</p>
                            <div class="meta-author">
                                <div class="c-thumb">
                                    <a href="#0">
                                        <img src="images/blog/blog02.png" alt="blog">
                                    </a>
                                </div>
                                <div class="c-content">
                                    <a href="#0">ridoy rajoan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-item">
                    <div class="post-thumb">
                        <a href="blog-grid">
                            <img src="images/blog/blog03.jpg" alt="blog">
                        </a>
                    </div>
                    <div class="post-content">
                        <div class="post-header">
                            <h4 class="title">
                                <a href="blog-grid">Pharetra aenean facilisis arcu aliquam diam mauris vivamus vitae </a>
                            </h4>
                            <div class="meta-post">
                                <a href="#0">20 Nov, 2019</a><a href="#0">03 Comments</a>
                            </div>
                        </div>
                        <div class="entry-content">
                            <p>Pharetra aenean facilisis arcu aliquam, id diam mauris vivamus id vitae et. Eros mauris quis
                            leo. Vitae leo phasellus donec, integer rutrum aliquam elit, non etiam turpis nullam lectus
                            urna urna, ullamcorper sit, accuman maecenneque vel aliquam aliquam tincidunt. Congue et
                            etiam nastur, nulla odio, morbi eros lectus, vestibulum ut libero</p>
                            <div class="meta-author">
                                <div class="c-thumb">
                                    <a href="#0">
                                        <img src="images/blog/blog01.png" alt="blog">
                                    </a>
                                </div>
                                <div class="c-content">
                                    <a href="#0">Raihan Rafuj</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> #}
    <!-- ==========blog-section========== -->

    <!-- ==========blog-section========== -->
    <section class="call-in-action padding-bottom padding-top">
        <div class="container">
            <div class="call-in-area">
                <h2 class="title">Vous avez des questions ?</h2>
                <p></p>
                <a href="contact" class="custom-button active">contactez-nous</a>
            </div>
        </div>
    </section>
    <!-- ==========blog-section========== -->
{% endblock %}
